* {
    margin: 0;
    padding: 0;
    font-family: Roboto, 'Courier New', Courier, monospace;
}

body {
    background-color: #F5F5F5;
  }

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 15% 85%;
}

.sidebar {
    background-color: #48CFCB;
    padding: 3em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    background-color: #424242;
    color: #F5F5F5;
    font-size: 1em;
}

.new-task-btn {
    width: 8em;
    height: 3em;
    border-radius: 8px;
}

.popup {
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: none;
    justify-content: center;
    align-items: center;
}

.popup-new-task, .popup-new-project {
    display: none;

    background: white;
    height: 45%;
    width: 35%;
    padding: 3em;
    border-radius: 8px;
}

.input-box {
    display: grid;
    grid-template-columns: 5;
}

input, select {
    height: 30px;
    font-size: 1em;
}

textarea {
    height: 80px;
}

.projects {
    display: grid;
    padding: 75px;
    grid-template-rows: auto;
    gap: 20px;
}

.projects button {
    background-color: #229799;
    width: 8em;
    height: 3em;
    border-radius: 8px;
    font-weight: bold;
}

.projects .plus-btn {
    width: 3em;
    border-radius: 50px;
    justify-self: center;
}

.popup-new-project {
    display: none;
}

.icon-trash {
    fill: #F5F5F5;
    height: 65%;
}

.main {
    align-content: center;
    justify-self: center;
    color: grey;
    font-size: 3em;
    font-weight: bold;
}