* {
    margin: 0;
    padding: 0;
    font-family: Roboto, 'Courier New', Courier, monospace;
}

body {
    background-color: #F5F5F5;
  }

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 15vw 85vw;
}

.sidebar {
    background-color: #48CFCB;
    padding: 3em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    background-color: #424242;
    color: #F5F5F5;
    font-size: 1em;
}

.new-task-btn {
    width: 8em;
    height: 3em;
    border-radius: 8px;
}

.popup {
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: none;
    justify-content: center;
    align-items: center;
}

.popup-new-task {
    display: none;

    background: white;
    height: 45%;
    width: 35%;
    padding: 3em;
    border-radius: 8px;

    flex-direction: column;
    gap: 10px;
}

.popup-new-project {
    display: none;

    background: white;
    height: 20%;
    width: 30%;
    padding: 3em;
    border-radius: 8px;

    flex-direction: column;
    gap: 10px;
}

.new-project-form {
    display: flex;
    flex-direction: column;

}

.input-box {
    display: grid;
    grid-template-columns: 5;
}

input, select {
    height: 30px;
    font-size: 1em;
}

textarea {
    height: 80px;
}


.sort-by {
    padding-top: 4em;
    padding-bottom: 1em;
    color: #424242;
    font-size: large;
    font-weight: bold;
}

.projects {
    display: grid;
    grid-template-rows: auto;
    gap: 20px;
}

.project-container {
    display: flex;
    gap: 0 10px;
    align-items: center;
}

.projects button {
    background-color: #229799;
    width: 11em;
    height: 4em;
    border-radius: 20px;
    font-weight: bold;
    border: none;
}

.projects .active {
    background-color: #75b1af;
}

.projects .plus-btn {
    width: 3em;
    border-radius: 50px;
    justify-self: center;
    border: 2px solid grey;
}

.popup-new-project {
    display: none;
}

.icon-trash {
    fill: #F5F5F5;
    height: 65%;
}

.main {
    align-content: center;
    justify-self: center;
    color: grey;
    font-size: 48px;
    font-weight: bold;
    display: grid;
    grid-template-rows: 1em repeat(auto-fit, 19vh);
    gap: 30px;
    margin: 25px;
}

.main-title {
    padding-left: 30px;
}

.task-container {
    border: none;
    background: white;
    font-size: 1.2rem;
    font-weight: normal;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.high {
    border-bottom: 6px solid rgb(141, 23, 23);
}

.medium {
    border-bottom: 6px solid yellow;
}

.low {
    border-bottom: 6px solid green;
}

.project-priority-container {
    background: #229799;
    color: #F5F5F5;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.task-title {
    padding-top: 10px;
    font-weight: bold;
    font-size: 1.5em;
}

.task-title, .task-description, .due-title, .bottom-container, .task-due-time {
    padding-left: 30px;
}

.task-description {
    font-size: 0.9em;
    padding-bottom: 10px;
}

.bottom-container {
    display: flex;
    padding-bottom: 10px;
    padding-right: 30px;
    justify-content: space-between;
}

.due-container {
    display: flex;
}

.icon-container {
    display: flex;
    column-gap: 20px;
}

.complete-button {
    padding: 4px;
    border-radius: 10px;
    font-size: medium;
    border: none;
}

.completed {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

.done {
    background-color: #727272;
}